<div>
    <ul>
        <li><a class="active" href="/profile">Profile</a></li>
        <li><a href="/learning">Learning</a></li>
        <li><a href="/trading"><Td>Trading</Td></a></li>
      </ul>
</div>